*{
    margin:0;
    padding:0.1px;
    box-sizing:border-box;
}
body{
    font-family: 'Antonio', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.container{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.pinta{
    background-color: #DDE2E3;
}
.titulo_enca{
    color: #fff;
    font-size: 30px;
    padding-left:60px ;
}
.titulo{
    font-size: 30px;
    color: rgb(5, 5, 5);
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
}
header{
    width: 100%;
    height: 850px;

    background: #f3904f; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsl(24, 87%, 63%,0.6), hsl(231, 31%, 34%,0.4)),url(../images/img10.jpg); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(24, 87%, 63%,0.6), hsl(231, 31%, 34%,0.4)),url(../images/img10.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    width: 100%;
    padding: 5px 5px 0 0;
    background: #ccb4ad;
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.link{
    font-weight: 300;
}
.link a{
    color:#fff;
    text-decoration: none;
    margin-left:20px;
}
#ola{
    width: 100%;
    bottom: -50px;
    position: absolute;
    height: 254px;
    overflow: hidden;
}
.text-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
    
}
.text-header h1{
    font-size: 70px;
    font-weight: 600;
    color: #fff;
}

.text-header h2{
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}
.container-about{
    
    display: flex;
    justify-content: space-evenly;
}
.image-about{
    width: 55%; 
    border-radius: 10%;
    box-shadow:  0 0 6px 0 rgba(0,0,0, 0.5);
}
.about .content-text{
    width: 330px;
}
.content-text h3{
    margin-bottom: 25px;
}
.content-text h3 span{
    background: #000000;
    color:#fff;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    padding: 2px;
    box-shadow:  0 0 6px 0 rgba(0,0,0, 0.5);
    margin-right: 7px;
}
.content-text p{
    padding: 0px 0px 30px 30px;
    text-align: justify;
    font-weight: 300;
}
.markets{
  background-color:#9FB4CC;

}
.galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.galeria_ret{
    width: 330px;   
}
.galeria_ret img{
    width: 90%;
    padding: 30px 10px 10px 10px;
}
footer{
    background-color: rgb(55, 71, 141);
    padding: 60px 0 30px 0;
    margin: auto;
    
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    padding-bottom: 50px;
    color: #fff;
}
